utils/target/utils-1.0-SNAPSHOT.jar
utils/target/classes/com/example/utils/Utils.class
utils/target/maven-archiver/pom.properties
utils/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
utils/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
utils/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
utils/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
utils/target/surefire-reports/com.AppTest.txt
utils/target/surefire-reports/TEST-com.AppTest.xml
utils/target/test-classes/com/AppTest.class
webapp/target/webapp-1.0-SNAPSHOT.jar
webapp/target/classes/application.properties
webapp/target/classes/com/example/webapp/WebappApplication.class
webapp/target/classes/com/example/webapp/WebConfiguration$1.class
webapp/target/classes/com/example/webapp/WebConfiguration.class
webapp/target/classes/static/vue-page/favicon.ico
webapp/target/classes/static/vue-page/index.html
webapp/target/classes/static/vue-page/assets/index-CmUYume4.js
webapp/target/classes/static/vue-page/assets/index-DmXGKF6p.css
webapp/target/classes/static/vue-page/assets/materialdesignicons-webfont-B7mPwVP_.ttf
webapp/target/classes/static/vue-page/assets/materialdesignicons-webfont-CSr8KVlo.eot
webapp/target/classes/static/vue-page/assets/materialdesignicons-webfont-Dp5v-WZN.woff2
webapp/target/classes/static/vue-page/assets/materialdesignicons-webfont-PXm3-2wK.woff
webapp/target/classes/static/vue-page/assets/NotoSansTC-Medium-DtxeFLV8.ttf
webapp/target/classes/static/vue-page/assets/Roboto-Medium-CFKDKRMh.ttf
webapp/target/maven-archiver/pom.properties
webapp/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
webapp/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
webapp/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
webapp/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
webapp/target/surefire-reports/2024-03-28T16-50-11_902.dumpstream
webapp/target/surefire-reports/2024-03-28T16-55-38_183.dumpstream
webapp/target/surefire-reports/2024-03-28T16-59-47_307.dumpstream
webapp/target/surefire-reports/com.example.webapp.WebappApplicationTests.txt
webapp/target/surefire-reports/TEST-com.example.webapp.WebappApplicationTests.xml
webapp/target/test-classes/com/AppTest.class
webapp/target/test-classes/com/example/webapp/WebappApplicationTests.class
